/* Add your own styles */



#result {
    margin-top:2%;
    margin-left: 10%;
    margin-right: 10%;

}

#controls {
    margin: auto;
    margin-top:5%;
    width: 50%;
    padding: 20px;
    text-align: center;
    margin-right:25%;
}



#country {
width: 500px;
}

#container {
    display:grid;
    row-gap: 10%;
}

header{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    height:20vh;
    padding:0;
    background-color: #e4f3f6;
    display:grid; 
    grid-template-columns: auto auto;
    
}

img{
    width:10%;
}

